header {
  text-align: center;

  margin-bottom: 20px;
}
.main-menu {
    background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 0;
}

.main-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-menu ul li {
  display: inline-block;
  position: relative;
}

.main-menu ul li a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.main-menu ul li a:hover {
  background-color: #444;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #292929;
  border-top: 3px solid #444;
  border-radius: 0 0 5px 5px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  display: block;
}

.dropdown-menu li a {
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdown-menu li a:hover {
  background-color: #444;
}

body {
  margin: 0;

  padding: 0;

  border: 5px solid #ccc;
  background-image: url("website_background.jpeg"); 
  background-size: cover;
}

.container {
  max-width: 1200px;

  margin: 0 auto;

  padding: 20px;

  box-sizing: border-box;
}

.row {
  display: flex;

  justify-content: space-between;

  margin-bottom: 20px;
}

.icon {
  width: calc(25% - 10px);

  text-align: center;

  border: 2px solid #ccc;

  padding: 10px;

  box-sizing: border-box;

  margin-bottom: 20px;

  margin-right: 20px;

  transition: background-color 0.3s;
}

.icon:hover {
  background-color: #f0f0f0;
}

.icon:active {
  background-color: #e0e0e0;
}

.icon img {
  max-width: 100%;

  height: auto;
}

.label {
  display: block;

  margin-top: 10px;
}

img {
  display: block;

  margin: 0 auto;

  width: 100%;

  max-width: 1200px;

  max-height: 250px;
}
